<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Movie Fun</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>

	<body>
<!-- login bar -->
    <nav class = "navbar navbar-inverse navbar-fixed-top" role = "login">
    	<div class = "container-fluid">
    		<!-- search bar -->
    		<a href="/movies"><img id="logo" src="{% static 'img/logo.jpg' %}"><p id="projectAW" class="navbar-text">Movie Fun</p></a>
			<form class = "navbar-form navbar-left navbar-input-group" role = "search" id="searchForm" method="post" action="/movies/search/">
			{% csrf_token %}		
				<div class="form-group">
					<input class="form-control" type="text" name="query" value="{{query}}" placeholder="Movie Name">
                    <button class="btn btn-primary" type="submit" value="Search">search</button> 
				</div>
       					         		    		 				
    		</form>
			<!-- end search bar -->
            
    		{% if username %}
            
			<form class ="navbar-form navbar-right" role = "log out">
				<p class="navbar-text">{{username}}</p>
                <div id="collections" class="nav navbar-nav">
                <a href="/user_profile" class="navbar-link"><span class="glyphicon glyphicon-heart"></span> Collections</a><span class="badge">{{ likedMovies|length }}</span>
            </div>

    			<a href = "/logsystem/logout/" class = "btn btn-primary navbar-btn" role = "button">Log out</a>
    		</form>
    		
    		{% else %}
    			<form method = "post" action = "/logsystem/signin/" role = "login" class = "navbar-form navbar-right">
    			{% csrf_token %}
    					<input  name = "username" type ="text" class = "form-control" placeholder = "Username">
    					<input  name = "password" type ="password" class = "form-control" placeholder = "Password">
    				
    				<button type = "submit" class = "btn btn-primary navbar-btn">Sign In</button>
    				<a href = "/logsystem/signup/" class = "btn btn-primary navbar-btn" role = "button">Sign Up</a>
    			</form>	
    		{% endif %}
        
    	</div>

    </nav>
<!-- end login bar -->
		{% block content %}
		{% endblock %}


        <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/app.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/likeButton.js' %}" type="text/javascript" charset="utf-8"></script>
	</body>
</html>