<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Project Ashglen Way</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<h1>Project Ashglen Way</h1>
	<div id= "sign up/in">
		<a href="/signup"><span>sign up</span></a>
		<a href="/"><span>sign in</span></a>
	</div>
	
	<form id="searchForm" method="post" action="/movies/search/">
	{% csrf_token %}
		<input id="query" type="text" name="query" value="{{query}}">            
    	<input type="submit" value="Search" id="Search" class="float-left submit-button" >
    </form>
    	
	<ul>
		{% for movie in movies %}
		<li>
			<img src= "http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" />
			<h3>{{ movie.title }}</h3>
		</li>
		{% endfor %}
	</ul>
	
</body>
</html>