Django==1.6.5
distribute==0.6.32
dj-database-url==0.3.0
dj-static==0.0.5
django-pylibmc-sasl==0.2.4
django-toolbelt==0.0.1
gunicorn==19.0.0
mongoengine==0.8.0
psycopg2==2.5.3
pylibmc==1.2.3
pymongo==2.6.3
pystache==0.5.4
python-memcached==1.53
requests==2.2.1
static==1.0.2
stevedore==0.7.2
webapp2==2.5.2
wsgiref==0.1.2
xlrd==0.9.2
xlutils==1.7.0
xlwt==0.7.5
