<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
		<title>Sign In Form</title>
		<link rel = "stylesheet" href="{% static 'signup/css/style.css' %}" type ="text/css" media = "screen" title = "no title"
		charset = "utf-8">
</head>
<body>

	<form action = "" method = "post">{% csrf_token %}
		<p style = "color: red">
			{% if errors %}
				<ul>
					{% for error in errors %}
					<li>{{error}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</p>
		<p>
			<label for="username">Username</label>
			<input id = "username" name = "username" type = "text">
		</p>
		<p>
			<label for = "password">Password</label>
			<input id = "password" name = "password" type = "password">
		</p>
		<p>
			<input type = "submit" value = "Sign In" id = "submit">
		</p>
	</form>
</body>
</html>