body {
	font-family: sans-serif;
	background: #384047;
	padding-top: 70px;
}
h1 {
	color: #fff;
	text-align: center
}

ul {
	list-style:none;
	margin: 20px auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
ul li {
	display: inline-block;
	padding: 10px;
	background: black;
	margin:10px;
	min-height: 380px;
}
ul li img {
	display: block;
	width: 180px;
	height: 266px;
}
a {
	text-decoration: none;
}

ul p {
	margin-top: 5px;
	color: white;
	text-align: center;
}

/** Start Coding Here **/
.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}
#overlay {
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 150%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;;
}

#overlay img {
	margin-top: 5%;
	height: 500px;
}

#overlay p {
	color: white;
}

#logout {
	margin-left: 15px;
}

.navbar-input-group {
  font-size: 0px; /*removes whitespace between button and input*/
}

.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 8px;
  margin-left
}
.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
  margin-top: 8px;
}

