body {
	font-family: sans-serif;
	background: rgba(89, 119, 146, 1);
	padding-top: 70px;
}
h1 {
	color: #fff;
	text-align: center
}

ul {
	list-style:none;
	margin: 20px auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
.movie-list {
	display: inline-block;
	padding: 10px;
	background: black;
	margin:10px;
	height: 350px;
}
ul li img {
	display: block;
	width: 180px;
	height: 266px;
}
a {
	text-decoration: none;
}

ul p {
	margin-top: 5px;
	color: white;
	text-align: center;
}

/** Start Coding Here **/
.liked-movie button {
	position: absolute;
	left: 100px;
	top: 320px;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}
#overlay {
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 150%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;;
}

li button {
	position: absolute;
	top: 20px;
	left: 35px;
}

#logo {
	position: absolute;
	left: 10px;
	height: 20px;
	margin-top: 23px;
}

#overlay img {
	margin-top: 5%;
	height: 500px;
}

#overlay p {
	color: white;
}

#logout {
	margin-left: 15px;
}

#collections {
  margin: 15px;

}

#projectAW {
	margin-top: 23px;
	margin-left: 35px;
}

.navbar-input-group {
  font-size: 0px; /*removes whitespace between button and input*/
}

.form-group {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-input-group .form-control {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left:60px;
  width: 350px;
}
.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

/*css for movie_info.html*/
#content {
    width: 200px;
    border: 4px solid red;
    padding: 10px;
    overflow: hidden;
}
#poster{
	float: left;
	width: 400px;
    height: 540px;
	margin-left: 15px;
}
#poster img{
	width: 87%;
 	height: auto;
}

#title, #genre, #country, #year, #length, #overview{
	color: white;
}

#title h4, #genre h4, #country h4, #year h4, #length h4, #overview h4{
	color: blue;
}



/*css for side navbar*/
.side-navbar {
	position: fixed;
	top: 150px;
}

.nav-pills > li > a{
	color: rgba(212, 212, 212, 1);
}
